header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
    background-color: rgb(98, 151, 246);
    position: fixed;
    z-index: 1;
    box-shadow: 0 0 10px 0 black;
    top: 0;
    gap: 30px;
}

#mainPage {
    width: 10%;
}

#back {
    width: 10%;
}

main {
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    width: 90%;
}

.cardBlock {
    width: 45%;
}


.cardBlockBody {
    background-color: rgba(98, 151, 246, 0.46);
}

.cardBlock p {
    width: 100%;
}

.commentsBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.commentBlock {
    height: 500px;
    background-color: rgba(142, 178, 246, 0.33);
    border: 15px;
    padding: 15px;
    width: 21vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}